[Unit]
Description=A service to collect solar panel data

[Service]
Restart=always
RestartSec=1
TimeoutStartSec=0
ExecStart={{INSTALL_PATH}}/scripts/run.sh

[Install]
WantedBy=multi-user.target
